---
name: Release

on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Set up upx
        uses: crazy-max/ghaction-upx@v3
        with:
          version: latest
          install-only: true
      - name: Run goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
